[D-BUS Service]
Name=org.freedesktop.Tracker1.Miner.Userguides
Exec=/usr/libexec/tracker-miner-user-guides
SystemdService=tracker-miner-user-guides.service

# Miner details needed for tracker-control
Path=/org/freedesktop/Tracker1/Miner/Userguides
DisplayName=Userguides
DisplayName[as]=ব্যৱহাৰকাৰী সহায়িকা
DisplayName[bg]=Ръководства
DisplayName[bs]=Korisnički vodići
DisplayName[ca]=Guies d'usuari
DisplayName[ca@valencia]=Guies d'usuari
DisplayName[cs]=Uživatelské příručky
DisplayName[da]=Brugervejledning
DisplayName[de]=Benutzerhandbücher
DisplayName[el]=Οδηγοί χρήστη
DisplayName[en_GB]=Userguides
DisplayName[es]=Guías de usuario
DisplayName[eu]=Erabiltzaile-gidak
DisplayName[fr]=Guides d'utilisation
DisplayName[fur]=Guidis utent
DisplayName[gl]=Guías de usuario
DisplayName[hu]=Felhasználói kézikönyvek
DisplayName[id]=Panduan pengguna
DisplayName[it]=Guide utente
DisplayName[ja]=ユーザーガイド
DisplayName[ko]=사용자 안내서
DisplayName[lt]=Naudotojo gidai
DisplayName[lv]=Lietotāja gidi
DisplayName[nb]=Brukermanualer
DisplayName[nl]=Gebruikershandleidingen
DisplayName[oc]=Guidas d'utilizacion
DisplayName[pl]=Podręczniki użytkownika
DisplayName[pt]=Guias de utilizador
DisplayName[pt_BR]=Guias de usuário
DisplayName[ro]=Ghiduri de utilizare
DisplayName[ru]=Руководства пользователя
DisplayName[sk]=Používateľské príručky
DisplayName[sl]=Uporabniški vodniki
DisplayName[sr]=Корисничко упутство
DisplayName[sr@latin]=Korisničko uputstvo
DisplayName[sv]=Användarguider
DisplayName[te]=వాడుకరిమార్గదర్శకాలు
DisplayName[tr]=Kullanıcı Kılavuzları
DisplayName[uk]=Керівництва користувача
DisplayName[vi]=Hướng dẫn sử dụng
DisplayName[zh_CN]=用户指南
DisplayName[zh_HK]=使用者指南
DisplayName[zh_TW]=使用者指南
Comment=Userguide data miner
Comment[as]=ব্যৱহাৰকাৰী সহায়িকা তথ্য মাইনাৰ
Comment[bg]=Анализатор на потребителските ръководства
Comment[bs]=Korisnički vodić rudar podataka
Comment[ca]=Guia d'usuari de l'extractor de dades
Comment[ca@valencia]=Guia d'usuari de l'extractor de dades
Comment[cs]=Démon na dolování dat z uživatelských příruček
Comment[da]=Brugervejledning dataindeksering
Comment[de]=Indizierung von Benutzerhandbüchern
Comment[el]=Εξορύκτης δεδομένων από αρχεία συστήματος
Comment[en_GB]=Userguide data miner
Comment[es]=Guía de usuario del minero de datos
Comment[eu]=Erabiltzaile-gidetako datuen biltzailea
Comment[fr]=Collecteur de données des guides d'utilisation
Comment[fur]=Estratôr di dâts des guidis utent
Comment[gl]=Guía de usuario do mineiro de datos
Comment[hu]=Felhasználói kézikönyvek adatbányász
Comment[id]=Penambang data panduan pengguna
Comment[it]=Estrattore di dati dalle guide utente
Comment[ja]=ユーザーガイドからデータを収集します
Comment[ko]=사용자 안내서 데이터 수집기
Comment[lt]=Naudotojo vadovų duomenų rinkiklis
Comment[lv]=Lietotāja gidu racējs
Comment[nb]=Datagraver for brukermanualer
Comment[nl]=Gebruikershandleiding dataminer
Comment[oc]=Collector de donadas dels guidas d'utilizacion
Comment[pl]=Przeszukiwanie danych w podręcznikach użytkownika
Comment[pt]=Analisador de guias de utilizador
Comment[pt_BR]=Mineração de dados dos guias de usuário
Comment[ro]=Miner de date pentru ghidul utilizatorului
Comment[ru]=Руководство пользователя по индексатору данных
Comment[sk]=Dolovač údajov pre používateľské príručky
Comment[sl]=Podatkovno rudarjenje uporabniških vodnikov
Comment[sr]=Копач података корисничког упутства
Comment[sr@latin]=Kopač podataka korisničkog uputstva
Comment[sv]=Datainsamlare för användarguide
Comment[tr]=Kullanıcı kılavuzu verisi tarayıcı
Comment[uk]=Керівництво користувача по аналізатору даних
Comment[vi]=Hướng dẫn sử dụng máy đào dữ liệu
Comment[zh_CN]=用户指南数据挖掘器
Comment[zh_HK]=使用者指南資料礦工
Comment[zh_TW]=使用者指南資料礦工
