[D-BUS Service]
Name=org.freedesktop.Tracker1.Miner.Applications
Exec=/usr/libexec/tracker-miner-apps
SystemdService=tracker-miner-apps.service

# Miner details needed for tracker-control
Path=/org/freedesktop/Tracker1/Miner/Applications
DisplayName=Applications
DisplayName[ar]=التطبيقات
DisplayName[as]=এপ্লিকেচনসমূহ
DisplayName[be@latin]=Aplikacyi
DisplayName[bg]=Програми
DisplayName[bs]=Programi
DisplayName[ca]=Aplicacions
DisplayName[ca@valencia]=Aplicacions
DisplayName[cs]=Aplikace
DisplayName[da]=Programmer
DisplayName[de]=Anwendungen
DisplayName[el]=Εφαρμογές
DisplayName[en_GB]=Applications
DisplayName[eo]=Aplikaĵoj
DisplayName[es]=Aplicaciones
DisplayName[et]=Rakendused
DisplayName[eu]=Aplikazioak
DisplayName[fi]=Sovellukset
DisplayName[fr]=Applications
DisplayName[fur]=Aplicazions
DisplayName[gl]=Aplicacións
DisplayName[he]=יישומים
DisplayName[hu]=Alkalmazások
DisplayName[id]=Aplikasi
DisplayName[it]=Applicazioni
DisplayName[ja]=アプリケーション
DisplayName[kk]=Қолданбалар
DisplayName[ko]=프로그램
DisplayName[lt]=Programos
DisplayName[lv]=Lietotnes
DisplayName[ml]=പ്രയോഗങ്ങള്‍
DisplayName[nb]=Programmer
DisplayName[nds]=Programme
DisplayName[nl]=Toepassingen
DisplayName[oc]=Aplicacions
DisplayName[pa]=ਐਪਲੀਕੇਸ਼ਨ
DisplayName[pl]=Programy
DisplayName[pt]=Aplicações
DisplayName[pt_BR]=Aplicativos
DisplayName[ro]=Aplicații
DisplayName[ru]=Приложения
DisplayName[sk]=Aplikácie
DisplayName[sl]=Programi
DisplayName[sr]=Програми
DisplayName[sr@latin]=Programi
DisplayName[sv]=Program
DisplayName[te]=అనువర్తనాలు
DisplayName[tg]=Барномаҳо
DisplayName[th]=โปรแกรม
DisplayName[tr]=Uygulamalar
DisplayName[uk]=Застосунки
DisplayName[vi]=Ứng dụng
DisplayName[zh_CN]=应用程序
DisplayName[zh_HK]=應用程式
DisplayName[zh_TW]=應用程式
Comment=Applications data miner
Comment[ar]=مُنقِّب بيانات التطبيقات
Comment[as]=এপ্লিকেচনসমূহ তথ্য মাইনাৰ
Comment[bg]=Анализатор на данните от програмите
Comment[bs]=Programski rudar podataka
Comment[ca]=Extractor de dades d'aplicacions
Comment[ca@valencia]=Extractor de dades d'aplicacions
Comment[cs]=Démon na dolování dat z aplikací
Comment[da]=Dataindeksering af programmer
Comment[de]=Indizierung von Anwendungen
Comment[el]=Εξορύκτης δεδομένων εφαρμογών
Comment[en_GB]=Applications data miner
Comment[es]=Minero de datos de aplicaciones
Comment[et]=Rakenduste andmekaevurid
Comment[eu]=Aplikazioen datuen biltzailea
Comment[fr]=Collecteur de données d'applications
Comment[fur]=Estratôr di dâts des aplicazions
Comment[gl]=Mineiro de datos de aplicativos
Comment[hu]=Alkalmazások adatbányásza
Comment[id]=Penambang data aplikasi
Comment[it]=Estrattore di dati dalle applicazioni
Comment[ja]=アプリケーションのデータを収集します
Comment[ko]=프로그램 데이터 수집기
Comment[lt]=Programos duomenų rinkiklis
Comment[lv]=Lietotņu datu racējs
Comment[nb]=Datagraver for programmer
Comment[nl]=Toepassingen dataminer
Comment[oc]=Collector de donadas d'aplicacions
Comment[pl]=Przeszukiwanie danych programów
Comment[pt]=Analisador de dados de aplicações
Comment[pt_BR]=Mineração de dados de aplicativos
Comment[ro]=Minerit de date pentru aplicații
Comment[ru]=Индексатор данных приложений
Comment[sk]=Dolovač údajov pre aplikácie
Comment[sl]=Podatkovno rudarjenje programov
Comment[sr]=Копач податка програма
Comment[sr@latin]=Kopač podatka programa
Comment[sv]=Datainsamlare för program
Comment[tr]=Uygulama veri tarayıcısı
Comment[uk]=Індексатор даних застосунків
Comment[vi]=Máy đào dữ liệu ứng dụng
Comment[zh_CN]=应用程序数据挖掘器
Comment[zh_HK]=應用程式資料礦工
Comment[zh_TW]=應用程式資料礦工
